.header_container {
	display: flex;
	justify-content: space-between;
	height: auto;
	max-height: 20vh;
	min-height: var(--nav-size);
}

.home_container {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	min-height: 100%;
}

.inner_container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	min-height: 100%;
	margin-left: calc(15vw - 6px);
}

.navbar_items {
	width: 25vw;
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	margin: 0;
	position: relative;
}

.navbar_items > * {
	padding: 1rem;
}

.page_title {
	display: block;
	margin: 1rem;
	font-size: 2rem;
	width: 50%;
}
