.header {
	display: block;
	background: cornflowerblue;
}

.header_container {
	display: flex;
	justify-content: space-between;
}

.page_title {
	margin-top: 0rem;
	margin-left: 25vw;
	padding: 0;
}

.page_title > h3 {
	font-size: 2rem;
}

.nav_container {
	display: inline;
}

li.hidden {
	display: none;
}
