html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', Helvetica Neue, sans-serif;
	box-sizing: border-box;
	overflow-y: auto;
}

a {
	text-decoration: none;
}

:root {
	--width: calc((var(--height) * 1.618));
	--height: 95vh;
	--nav-size: 5rem;
}

ul {
	padding: 0;
}
