html,
body {
	padding: 0;
	margin: 0;
	font-family: "Lato", Helvetica Neue, sans-serif;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	overflow: hidden;
}

:root {
	--width: calc((var(--height) * 1.618));
	--height: 90vh;
}
